[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "*"
chromedriver-binary = "~=106.0.0"

[dev-packages]

[requires]
python_version = "3.10"
